*{
	padding: 0;
}
body{
	background: black;
}
.block{
	width: 800px;
	height: 550px;
	display: flex;
	outline: 1px solid red;
	margin: auto;
}
.containerSlide{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 5px solid black;
}
h1{
	color:#fff;
	text-align: center;
}
.containerListImg{
	width: 20%;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	padding: 0 3px;
}
.buttons{
	width:100%;
	display: flex;
	justify-content: space-evenly;
}
.buttons button{
    height: 50px;
    width: 50px;
    position: relative;
    background-color: cadetblue;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.buttons button:hover{
	background-color: darkorchid;
}
.buttons button:focus{
	outline: none;
}
.prev::before{
	content: "";
	width: 18px;
    height: 2px;
    position: absolute;
    top: 35%;
    left: 22%;
    background-color: black;
    transform: rotate(140deg);
}
.prev::after{
	content: "";
    height: 27px;
    width: 2px;
    position: absolute;
    top: 24%;
    left: 51%;
    background-color: black;
    transform: rotate(90deg);
}
.prev span::before{
	content: "";
	width: 18px;
    height: 2px;
    position: absolute;
    top: 60%;
    left: 21%;
    background-color: black;
    transform: rotate(-140deg);
}
.next::before{
	content: "";
	width: 18px;
    height: 2px;
    position: absolute;
    top: 35%;
    right: 16%;
    background-color: black;
    transform: rotate(-140deg);
}
.next::after{
	content: "";
    height: 27px;
    width: 2px;
    position: absolute;
    top: 24%;
    left: 51%;
    background-color: black;
    transform: rotate(90deg);
}
.next span::before{
	content: "";
	width: 18px;
    height: 2px;
    position: absolute;
    top: 60%;
    right: : 21%;
    background-color: black;
    transform: rotate(140deg);
}
.containerSlide img{
	width: 640px;
}
.containerListImg img{
	width: 100%;
	border-radius: 20%;
	cursor: pointer;
}
.gallery-block{
	overflow: hidden;
}
.main-block{
	display: flex;
}